@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500&family=Work+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500&family=Work+Sans:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
:root {
  --heading: rgb(0 10 45);
  --para: #777;
  --white: (255 255 255);
  --black: #212529;
  --para-tint: #e4e4e4;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  --shadow: 0px 0px 20px 0px rgb(132 144 255 /20%);
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}
h2 {
  color: white;
}
h3 {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
}
p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  padding: 0 4.8rem;
  height: 5rem;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  height: 6rem;
}
.navbar-lists {
  display: flex;
  gap: 4.8rem;
}

.navbar-link{
  font-size: 2rem;
  justify-content: space-between;
}
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: all 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
  background-color: var(--para);
  color: white;
}

/* Home Section*/
.home__container {
  width: 100%;
}
.home__container img {
  width: 100%;
  height: 100%;
}
.home__container h3 {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home__container p {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* BAND Section*/
.band__container {
  display: grid;
  justify-items: center;
}
.band__container h2 {
  color: var(--black);
  font-size: 4rem;
  padding-top: 6rem;
}
.i_para {
  padding-top: 3rem;
  color: var(--para);
}
.band__container p {
  padding: 2rem 18rem 0rem 18rem;
  color: var(--black);
}
.band__member {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.band__member p {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: var(--black);
}

.band__member img {
  width: 200px;
  height: 200px;
}

/* TOUR Section*/
.tour__container {
  background-color: var(--black);
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  margin: 0-16px;
}
.tour__container h2 {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
  font-size: 4rem;
}
.tour__container p {
  display: grid;
  justify-content: center;
  justify-items: center;
}
.tour__container ul {
  background-color: white;
  margin: 0rem 30rem 0rem 30rem;
  padding: 2rem 0rem 2rem 0rem;
  display: grid;
  justify-items: left;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.7rem;
}
.tour__container ul li {
  padding-left: 2rem;
  color: var(--para);
  text-decoration:underline;
  text-align: justify;
}
.tour__container span {
  margin-left: 2rem;
  background-color: red;
  color: white;
}
.tour__container ul li .span_3{
    background-color: var(--black);
    margin-left: 65rem;
}
/* Tickets Cards section*/
.card{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-top: 5rem;
  margin-left: 19rem;
  position: relative;
  width: 1000px;
  height: 500px;
  /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5); */
  transition: 0.3s;
  /* background: #fff; */
}
/* first Card*/
.card_1, .card_2, .card_3{
  margin-top: 5rem;
  margin-left: 0rem;
  position: relative;
  width: 300px;
  height: 400px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  background: #fff;
 
}
.imgBox_1,.imgBox_2, .imgBox_3{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-30px);
}
.image{
  width: 100%;
}
.imgBox_1 h3{
  margin-top: 15px;
  color: var(--black);
}
.imgBox_2 h3{
  margin-top: 15px;
  color: var(--black);
} 
.imgBox_3 h3{
  margin-top: 15px;
  color: var(--black);
}
.imgBox_1 .para{
  margin-top: 15px;
  color: var(--para);
  justify-content: left; 
}
.imgBox_2 .para{
  margin-top: 15px;
  color: var(--para);
  justify-content: left; 
} 
.imgBox_3 .para{
  margin-top: 15px;
  color: var(--para);
  justify-content: left; 
}
.imgBox_1 p{
  margin-top: 15px;
  color: var(--black);
} 
.imgBox_2 p{
  margin-top: 15px;
  color: var(--black);
} 
.imgBox_3 p{
  margin-top: 15px;
  color: var(--black);
}
.content_1,.content_2,.content_3{
  margin-top: 30px;
  padding-left: 13px;
  transform: translateY(-20px);
}
button{
  margin-top: 1.3rem;
  padding: 10px 20px;
  transform: translateY(-0px);
  background: var(--black);
}
button:hover{
  background-color: var(--para);
  color: white;
  border: none;
}

/* Contact section*/
.contact{
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-top: 6rem;
  padding-bottom: 13rem;
  background: var(--para-tint);
}
.contact h2{
  color: var(--black);
  font-size: 4rem;
}
.contact p{
  padding-top: 1.8rem;
  padding-bottom: 2rem;
}
.contact_1{
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  gap: 10rem;
}
.sec_1{
  display: grid;
  gap: none;
}
.sec_2{
  display: flex;
}
.name{

  padding-bottom: 2rem;
}
.mail{
  
  padding-bottom: 2rem;
}
.contact button{
  margin-left: 13rem;
  color: white;
}
.contact button:hover{
  color: var(--black);
}
/* footer section*/
.footer_section img{
  width: 100%;
  height: 100%;
}
.footer_img{
  width: 100%;
}
.icons{
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 0.4rem;
  font-size: 3rem;
}
